@model SportSystem.Models.ViewModels.MatchTeamViewModel

<div class="row">
    <div class="col-xs-6">
        <h2>Top Matches</h2>
        @Html.DisplayFor(m => m.Matches)
    </div>
    <div class="col-xs-6">
        <h2>Best Teams</h2>
        @Html.DisplayFor(m => m.Teams)
    </div>
</div>

