@model SportSystem.Models.ViewModels.MatchViewModel

<div class="panel panel-primary">
    <h3>@Model.HomeTeamName vs. @Model.AwayTeamName</h3>
    Start: @Model.Date.ToString("dd-MMM-yyyy hh:mm:ss")
</div>